.searchbar{
    border-radius: 30px;
    height: 48px;
    padding: 12px;
    background-color: rgb(247, 249, 249);
    box-shadow: 0 0 3px 0 #00000022;
}

.searchbar input{
    border: none;
    padding-right: 12px;
    background-color: rgb(247, 249, 249);
}

.searchbar input:focus{
    outline: none;
}

.search-box{
    position: absolute;
    border-radius: 16px;
    max-height: 60vh;
    overflow-y: scroll;
    background-color: white;
    z-index: 99;
    width: 98%;
}

.search-box-heading{
    padding: 10px 20px;
}